* {
    box-sizing: border-box;
}

.body-tag {
    margin: 0;
    padding: 0;
    background-color: #1F06D6;
}

.greeting {
    margin: 10px;
    color: #fff;
    border: 2px solid #fff;
    font-family: sans-serif;
    padding: 40px 20px;
    background-color: transparent;
    border-radius: 8px;
}
